
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="bodyCalendario" class="bodyCalendario">
    <!-- Banner -->
    

    <div class="content">

      <div class="card">

        <div class="title-area">
          <h2>🗓 Previsão de Datas do Evento</h2>
        </div>

        <!-- Calendário -->
        <div class="calendar">

          <!-- Header -->
          <div class="calendar-header">
            <button (click)="mesAnterior()">⬅</button>

            <h3>{{ meses[currentMonth] }}</h3>

            <button (click)="proximoMes()">➡</button>
          </div>

          <!-- Dias Semana -->
          <div class="dias-semana">
            <div *ngFor="let d of diasSemana">{{ d }}</div>
          </div>

          <!-- Dias -->
          <div class="dias-grid">
            <button *ngFor="let dia of gerarCalendario()" [disabled]="!dia" (click)="toggleData(dia)"
              [class.selected]="selectedDates.includes(dia + '/' + (currentMonth+1) + '/2025')" [class.empty]="!dia">
              {{ dia }}
            </button>
          </div>

        </div>

        <!-- Datas Selecionadas -->
        <div *ngIf="selectedDates.length > 0" class="datas-container">
          <p>Datas Selecionadas:</p>

          <div class="datas-list">
            <span *ngFor="let d of selectedDates">{{ d }}</span>
          </div>
        </div>

        <!-- Botão Sugestão -->
        <button class="btn-sugestao" (click)="saibaMais()">
          clique aqui e saiba mais 
        </button>
   

      </div>
    </div>
  </div>
 
   <!-- FOOTER NAVEGAÇÃO-->
  <footer class="footer">
    <!-- MENU -->
    <div class="footer-content">

    
      <!-- NAVEGAÇÃO -->
      <nav class="menu">
        <button 
        *ngFor="let item of menuItems"
          (click)="handleMenuClick(item.id)"
          [ngClass]="{
            'ativo': menuAtivo === item.id && item.id !== 'sair',
            'sair': item.id === 'sair'
          }"
        >
          <ion-icon [name]="item.icone"></ion-icon>
          <span>{{ item.label }}</span>
        </button>
      </nav>

      <div class="espaco"></div>
    </div>

    <div class="barra"></div>
  </footer>

  <style>
    ion-toolbar {
      --background: #1565c0;
      --color: white;
      border-bottom: solid 2px white;
    }

    ion-button {

      --color: white;
    }

    ion-card {

      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      box-shadow: none;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    ion-checkbox {
      --size: 20px;
      --checkbox-background-checked: rgb(0, 60, 255);
    }

    ion-checkbox::part(container) {
      border-radius: 6px;
      border: 2px solid #ffffff;
    }
  </style>
</ion-content>