.bodyCalendario {
    animation: aparecer 0.6s ease-in-out;
    background: linear-gradient(to top, #1565c0, #2196f3);
    width: 100%;
}

.cardInicial {
    border-radius: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

#logoTipo {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;

}

#logo {

    margin-top: 25px;
    border-radius: 100%;
    background-color: #2196f3;
    box-shadow: none;
    position: static;


}

.encontro {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;


}

.calendario {

    width: 300px;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;



}

#titleEvento {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    height: 100px;
    margin: 0%;
    padding: 0%;


}



.cabecalho {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;

}

.semana {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #1565c0;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #bbdefb;
    padding: 5px;
    color: #0d47a1;

}

.dias div {
    text-align: center;
    padding: 7px 0;
    border-radius: 8px;
    font-weight: 800;
}

.dias div.ativo {
    background-color: white;
    color: #0d47a1;
    font-weight: bold;

}

hr {
    margin-top: 10px;
    border: none;
    height: 3px;
    background-color: rgb(255, 255, 255);

}

:host {
    display: block;
    padding: 16px;
}


.panel {
    position: fixed;
    height: 50%;
    width: 50%;
    padding: 16px;
    background: linear-gradient(to top, #2196f3, #1565c0);
    border-bottom-right-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;

}

/*KEYFRAMES*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-110%);
        opacity: 0;
    }

    75% {
        transform: translateX(10%);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* APLICAÇÃO DAS ANIMAÇÕES*/
.slide-in-left {
    animation: slideInLeft 0.6s cubic-bezier(.25, .8, .25, 1) forwards;

}



/* Posições */
.left-panel {
    left: 16px;
}


.toolbar {
    display: flex;


}

#titleToolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}


#botaoSaiba {

    color: white;
    background-color: #1565c0;
    margin-right: 70px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5%;
    height: 3pc;
    width: 10pc;

}

#dataEncontro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#dataRodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.bodySugestao {

    background: linear-gradient(to top, #2196f3, #1565c0);



}

#titleSugestao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#subtitleSugestao {
    color: #0d47a1;
}

.botaosEncontros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;


}

#botaoEncontro {
    color: white;
    background-color: #1565c0;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5%;
    margin-right: 10px;
    height: 4pc;
    width: 9pc;


}

#botaoMunicipio {
    color: white;
    background-color: #2196f3;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5%;
    margin-top: 10px;
    margin-right: 10px;
    height: 3pc;
    width: 10pc;


}
#tipoCidade{
    
font-size: large;


}

#sugestaoOk {
    background-color: #0d47a1;
    animation: aparecer 0.6s ease-in-out;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    height: 140px;

    display: flex;
}

#sugestaoContet {
    color: #f7fbff;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #2196f3;
    animation: aparecer 0.6s ease-in-out;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    height: 120px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

}

#botaoSugestão {

    color: white;
    background-color: #0d47a1;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5%;
    height: 2pc;
    width: 9pc;


}

.azul {
    color: #0d47a1;

}
.azulClaro{
color: #2196f3;


}
@keyframes slideInTop {
    0% {
        transform: translateY(-110%);
        opacity: 0;
    }

    75% {
        transform: translateY(10%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

/* ——— APLICAÇÃO DAS ANIMAÇÕES ——— */
.slide-in-top {
    animation: slideInTop 0.6s cubic-bezier(.25, .8, .25, 1) forwards;

}

.top-panel {
    top: 16px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.checkbox {
    display: flex;
    justify-content: start;
    align-items: center;

}

#checkboxContent {
    margin-left: 10px;
    color: white;
}