

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="questionario">
    <br>
    <!-- RESULTADO -->
    <ng-container *ngIf="showResult; else quizBlock">
      <div class="result-container">

        <div class="result-icon" [ngClass]="calculateResult().color">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </div>

        <h2 class="title">Resultado da Avaliação</h2>

        <div class="tag" [ngClass]="calculateResult().color">
          {{ calculateResult().level }}
        </div>

        <div class="progress-wrapper">
          <div class="progress-bar" [style.width.%]="getProgressPercent()"></div>
        </div>

        <div class="analysis-card">
          <h3>Análise</h3>
          <p>{{ calculateResult().mensagem }}</p>

          <h3>Recomendação</h3>
          <p>{{ calculateResult().recormendacao }}</p>
        </div>
        <div class="botaoResultado">
           <button class="btn-secondary" (click)="restart()">Nova Avaliação</button>
          <button class="btn-primary" (click)="proximo()" >Proximo</button>
        </div>
      </div>
      <br>
    </ng-container>

    <!-- QUIZ -->

    <ng-template #quizBlock>
      <div class="quiz-container">

        <div class="header">
          <h1>Avaliação de Dependência Virtual</h1>
          <div class="counter">
            <p> {{ currentQuestion + 1 }} de {{ questions.length }}</p>
          </div>
        </div>

        <div class="progress">
          <div class="progress-inner" [style.width.%]="((currentQuestion + 1)/questions.length)*100"></div>
        </div>

        <h2 class="question-text">{{ questions[currentQuestion].text }}</h2>

        <div class="options">
          <button *ngFor="let option of questions[currentQuestion].options" expand="block"
            (click)="handleAnswer(option.value)" class="btn-primary">
            {{ option.text }}
          </button>
        </div>

        <ion-button *ngIf="currentQuestion > 0" fill="clear" (click)="goBack()">
          ← Voltar
        </ion-button>
        <br>
      </div>
    </ng-template>

  </div>
  <p class="note">Responda com base nos últimos 3 meses.</p>
 <!-- FOOTER NAVEGAÇÃO-->
  <footer class="footer">
    <!-- MENU -->
    <div class="footer-content">

    
      <!-- NAVEGAÇÃO -->
      <nav class="menu">
        <button 
          *ngFor="let item of menuItems"
          (click)="handleMenuClick(item.id)"
          [ngClass]="{
            'ativo': menuAtivo === item.id && item.id !== 'sair',
            'sair': item.id === 'sair'
          }"
        >
          <ion-icon [name]="item.icone"></ion-icon>
          <span>{{ item.label }}</span>
        </button>
      </nav>

      <div class="espaco"></div>
    </div>

    <div class="barra"></div>
  </footer>



</ion-content>